/* top of page for name */
body {
  margin: 0;
  padding: 0;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.row {
  padding: 0;
  margin: 0;
}
.name.card-header.card.flex-row {
  height: 67px;
}

.name.card-header.card {
  padding: 0;
  border: none;
  /* background-color : rgb(44, 44, 44); */
  background-color: white;
  /* flex-direction: row; */
}

.name.card-header.card h3 {
  /* color: white; */
  padding: 15px 0 30px 10px;
  font-size: 33px;
  font-weight: bold;
  /* text-shadow: 2px 2px #6C747A; */
  
}

img {
  z-index: 1;
  padding: 0;
}

/* top of page */
.row.card-header {
  /* background-color: #18130F; */
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  background-color: white;
  /* background-color : rgb(44, 44, 44); */
  padding: 0;
  max-height: 67px;
}

.side-bar{
  border-top: 4px dotted rgb(44, 44, 44);
  border-bottom: 5px dotted white;
  z-index: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: rgb(255, 189, 74);
  min-height: 580px;
}
/* side-bar navigation */

a.nav {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 30px;
  padding: 30px 0 20px 0;
  padding-bottom: 10px;
  padding-top: 10px;
  color : rgb(44, 44, 44);
  text-decoration: none;
}

/* side-bar navigation - hover effect */
a:hover {
  text-decoration: none;
}

a.nav:hover {
  color: white;
  background-color: rgb(44, 44, 44);
  color: white;
  padding-left: 45px;
  text-decoration: none;
  border: none;
}

a.resume-link {
  text-align: center;
  margin-top: 5px;
  margin-left: 40px;
  padding: 15px;
  color: white;
  background-color: #667264;
  /* background-color: #AFD2E9; */
  /* background-color: #E8F7EE; */
  
  border: 1px solid rgb(44, 44, 44);
  border-radius: 10px;
  /* background-color: 3b579d; */
  /* color: white; */
  /* color : rgb(44, 44, 44); */
  box-shadow: 3px 3px 5px #474E4E;
  /* font-style: oblique; */
  font-weight: bold;
  width: 170px;
  /* width: 130px; */

}
a.resume-link:hover {
  box-shadow: none;
  /* padding-left: 50px; */
  border: 1px dashed  white;
  padding: 15px;
}

h6 {
  /* color: white; */
  color: rgb(44, 44, 44);
  font-size: 14px;
}

/* in side-bar */
.connect.card-body {
  text-align: center;
  padding: 12px 8px 0 8px;
}

.card-body {
  padding-bottom: 0;
}

.connect.card-body img {
  text-decoration: none;
  padding-top: 5px;
}

.connect.card-body img:hover {
  text-decoration: none;
  padding-top: 0;
}

/* main card for about me and portfolio and contact me */
.main.card {
  margin-top: 20px;
  margin-left: 20px;
  background: rgb(44, 44, 44, 0.9);
  border: none;
  border-radius: 0;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.card-deck {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;

}

/* card for contact me */
.contact.card-body {
  background: rgb(44, 44, 44, 0.1);
  color: white;
  border: none;
  padding-bottom: 0;
}

h2, h5 {
	/*To make color same as basic,
	 but I like new color from bootstrap*/
	/*color: #4aaaa5;*/
  color: white;
}

.contact-me-info h6 {
  color: white;
}

/* footer */
.footer {
  /* background-color: #ACC4B2; */
  /* background-color: rgb(255, 189, 74); */
  /* background: rgb(44, 44, 44); */
  /* background-color: #413e35; */
  background-color: #B8C4BB;
  /* background-color: #2B4570; */
  
  
  border-radius: 0;
  margin-top: 0;
  margin-left: 0;
  height: 70px;
  
}

.footer small {
  /* color: white; */
  /* font-weight: bold; */
  color: rgb(44, 44, 44);
}

/*Contact Page style*/
.form-control {
	border-radius: 0;
}

.btn {
	border-radius: 0;
}

/*Portfolio Page styling*/

.port-card {
  width: 9rem;
  margin: 20px;
}

.card.port {

  margin: 20px;
}

.portfolio-card {
  border-radius: 0;
  margin-top: 20px;
  width: 10.5rem;
}

.portfolio-card-title.card-body, .card.portfolio-card {
  background-color: #6C747A;
  color: white;
  padding-bottom: 10px;

}

.portfolio-card-title.card-body h4 {
  font-size: .9rem;
}

img.card-img-top {
  width: 10rem;
	height: 10rem;
}

img.image {
  height: 150px;
  border-image: 2px white;
  margin-right: 15px;
}


#connect.card-header {
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: rgb(44, 44, 44);
}

.connect.card-body img {
  margin: 2px;
  padding-left: 3px;
  margin-bottom: 30px;
}

/* skills */
.coding-group {
  display: inline-block;
  margin: 12px;
}
.coding-group.rounded img{
  border-radius: 10px;
}

.skills h6 {
  font-weight: 200;
  font-size: 17px;
  letter-spacing: .5px;  
}

.coding-group p {
  text-align: center;
  /* margin-right: 5px; */
}

.coding-group img {
  height: 45px;
  width: 58px;
}

.coding-images {
  margin: 12px;
}
.coding-images img {
  height: 60px;
}

.coding-images.rounded img {
  border-radius: 10px;
}

.coding-images h6 {
  color: white;
  font-size: 12px;
  font-weight: 100;
  margin-top: 2px;
  letter-spacing: 1px;
}

p {
  font-size: 16px;
}

/* education */
h6 {
  color: white;
  font-size: 15px;
  margin-left: 10px;
}

h6.center {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 188px;
  text-decoration: underline;
  font-style: italic;
  margin-bottom: 20px;
}

.titles {
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
  margin-bottom: 10px;
}

.light {
  font-weight: 100;
}

@media screen and (max-width: 932px) {
  .port-card {
    width: 9rem;
    margin: 15px;
  }

}

@media screen and (max-width: 882px) {
  .port-card {
    width: 7rem;
    margin: 25px;
  }
}

@media screen and (max-width: 871px) {
  .port-card {
    width: 9rem;
    margin: 10px;
  }
  div.card.portfolio-card {
    border-radius: 0;
    width: 9rem;
  }
  img.card-img-top {
    width: 8.75rem;
    height: 8.75rem;
  }
  .portfolio-card-title.card-body h4 {
    font-size: .8rem;
  }
}

@media screen and (max-width: 838px) {
  a.nav {
    font-size: 17px;
    margin-left: 15px;
  }

  .connect.card-body {
    margin-top: 10px -5px -10px 5px;
    padding-right: 5px;
    padding-left: 5px;
  }

  h5.connect.card-body {
    font-size: 15px;
  }

  .connect.card-body img {
    margin-top: 0;
    height: 60px; 
    margin: 2px;
    padding-left: 0;
    margin-bottom: 30px;
  }

  a.resume-link.nav {
    padding: 8px 10px;
    text-align: center;
    margin: 5px 1px 5px 10px;
    font-size: 14px;
  }
}

@media screen and (max-width: 798px) {
  .port-card {
    margin: 6px;
  }
}

@media screen and (max-width: 765px) {
  .port-card {
    width: 8rem;
    margin: 10px;
  }

  div.card.portfolio-card {
    border-radius: 0;
    width: 8rem;
  }

  img.card-img-top {
    width: 7.75rem;
    height: 7.75rem;
  }

  .portfolio-card-title.card-body h4 {
    font-size: .7rem;
  }
}

@media screen and (max-width: 728px) {
  .port-card {
    width: 10rem;
    margin: 10px;
  }
  div.card.portfolio-card {
    border-radius: 0;
    width: 10rem;
  }
  img.card-img-top {
    width: 9.75rem;
    height: 9.75rem;
  }
  .portfolio-card-title.card-body h4 {
    font-size: .9rem;
  }
}

/* @media screen and (max-width: 747px) */
/* add media query to fix issue when screen size gets to this */
@media screen and (max-width: 575px) {
  a.nav {
    margin-top: 0;
    margin-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-decoration: none;
    font-size: 15px;
  }

  .connect.card-body {
    margin-left: 5px;
    padding-top: 0;
    padding-left: 5px;
  }

  h5.connect.card-body {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
  }

  .connect.card-body img {
    height: 50px;
    margin: 0 2px 5px 2px;
  }

  a.resume-link.nav {
    margin-left: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 14px;
  }

  .side-bar {
    margin: 20px 30px 0 35px;
    padding-top: 20px;
    padding-bottom: 0;
    padding-left: 5px;
    line-height: 1rem;
  }

  .main.card {
    margin-right: 10px;
  }

  .card-deck {
    flex-flow: row wrap;
  }

  .port-card {
    width: 9rem;
    margin: 10px;
  }

  div.card.portfolio-card {
    border-radius: 0;
    width: 9rem;
  }

  img.card-img-top {
    width: 8.75rem;
    height: 8.75rem;
  }

  .portfolio-card-title.card-body h4 {
    font-size: .8rem;
  }
}

@media screen and (max-width: 480px) {
  .row.card-header {
    margin-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  .name.card-header h3{
    font-size: 30px;

    padding-left: 0;
    /* padding-left: 20px; */
  }

  .side-bar {
    margin: 20px 30px 0 35px;
    padding-top: 20px;
    padding-bottom: 0;
    padding-left: 5px;
    line-height: 1rem;
  }

  a.nav {
    font-size: 15px;
    margin-top: 0;
    padding-bottom: 7px;
    padding-top: 7px;
    margin-left: 30px;
    text-decoration: none;
  }

  p {
    margin-top: 5px;
    font-size: 15px;
  }

/* about me - image */
  img.image {
    height: 40%;
    width: 100%;
    margin-bottom: 25px;
  }

  a.resume-link.nav {
    text-align: center;
    padding-left: 20px;
    margin-bottom: 10px;
  }

  .main.card {
    margin-right: 10px;
  }

  .footer {
    font-size: 14px;
  }
}